<!doctype html>
<head><title>UpLily</title></head>
Example of up loading file "local/testfile.txt' to UpLily
<pre>
    curl -X POST -F 'file=@./local/testfile.txt' {{ my_server }}ul/
</pre>

Available files:

{% if uploaded_files_list.keys()|length > 0 %}
    {% for key, value in uploaded_files_list.items() %}
        <li><a href="{{ value["download_url"] }}">{{ key }} ({{ value["locale"] }}) (MD5: {{ value["md5_hash"]}})</a></li>
    {% endfor %}
{% else %}
    No files uploaded yet
{% endif %}
